<script>
    
$(function() {
    $('#edit_order_in_<%=order_in.id%>').areYouSure();
});    

    
    
function set_date(field_name, date) {
    $(field_name).val(date);
}    
    
</script>

<%= form_for(order_in) do |f| %>
  <% if order_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(order_in.errors.count, "error") %> prohibited this order in from being saved:</h2>

      <ul>
      <% order_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <tr><td>Order Number (automatic)</td><td><%= order_in.order_number %></td></tr>
    <tr><td>Supplier</td><td><%=order_in.supplier.name%><%=f.hidden_field :supplier_id%></td></tr>
    <% if (not order_in.placed_date) %>
    <tr><td colspan="2" class="priority1">Set the Order Placed date to Mark the Order as being PLACED</td></tr>
    <%end%>
    <tr><td>Order placed:</td><td><%= datepicker_input f, :placed_date %></td><td><a href="javascript:set_date('#order_in_placed_date', '<%=Date.current%>')">Today</a></tr> 
    <tr><td>Quotation Request Sent:</td><td><%= datepicker_input f, :date_qr_sent %></td><td><a href="javascript:set_date('#order_in_date_qr_sent', '<%=Date.current%>')">Today</a></tr> 
    <tr><td>Quotation Received:</td><td><%= datepicker_input f, :quotation_received %></td><td><a href="javascript:set_date('#order_in_quotation_received', '<%=Date.current%>')">Today</a></tr> 
     <tr><td>Currency</td><td><%= f.select :currency, 
        options_for_select(['GBP', 'USD', 'EUR'].map{|s|[s, s]}, :selected => order_in.currency) %></td></tr>
    <tr><td>Shipping Cost</td><td><%= f.text_field :shipping %></td></tr>
    <tr><td>Exchange rate (E.g. 1.3)</td><td><%= f.text_field :exch_rate %></td></tr>
    <tr><td>VAT Information Collected (N/A, Y, N)</td><td><%= f.text_field :vat_info_collected %></td></tr>
    
    <tr><td>Notes:</td><td><%= f.text_area :notes %></td></tr>
</table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr/>



