<script>
    
$(function() {
    $('#edit_order_in_<%=order_in.id%>').areYouSure();
});    

    
function add_part() {
    var list = document.getElementById("parts_list");
    var part_id = list.options[list.selectedIndex].value;
    var qty = document.getElementById("part_qty_field").value
    var price = document.getElementById("part_price_field").value
    var order_in_id = "<%= order_in.id %>"
    
    document.location = "/order_ins/add_part?part_id=" + part_id 
        + "&amp;order_in_id=" + order_in_id 
        + "&amp;qty=" + qty + "&amp;price=" + price
}  
    
function delete_part(order_in_line_id) {
    var order_in_id = "<%= order_in.id %>"
    document.location = "/order_ins/delete_part?order_in_line_id=" + order_in_line_id 
        + "&amp;order_in_id=" + order_in_id 
}  
    
function rx_part(order_in_line_id) {
    var qty_in = document.getElementById("rx_qty_" + order_in_line_id).value
    var order_in_id = "<%= order_in.id %>"
    
    document.location = "/order_ins/rx_part?order_in_line_id=" + order_in_line_id
        + "&amp;qty_in=" + qty_in
        + "&amp;order_in_id=" + order_in_id 
}      
    
function set_date(field_name, date) {
    $(field_name).val(date);
}    
    
</script>

<%= form_for(order_in) do |f| %>
  <% if order_in.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this order in from being saved:</h2>

      <ul>
      <% order_in.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <tr><td>Order ID (automatic)</td><td><%= order_in.id %></td></tr>
    <tr><td>Supplier</td><td><%=order_in.supplier.name%></td></tr>
    <tr><td>Order placed:</td><td><%= datepicker_input f, :placed_date %></td><td><a href="javascript:set_date('#order_in_placed_date', '<%=Date.current%>')">Today</a></tr> 
     <tr><td>Currency</td><td><%= f.select :currency, 
        options_for_select(['GBP', 'USD', 'EUR'].map{|s|[s, s]}, :selected => order_in.currency) %></td></tr>
    <tr><td>Shipping Cost</td><td><%= f.text_field :shipping %></td></tr>
    <tr><td>Exchange rate (E.g. 1.3)</td><td><%= f.text_field :exch_rate %></td></tr>

    
    <tr><td>Notes:</td><td><%= f.text_area :notes %></td></tr>
</table>


  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

<hr/>

<h2>Order (Goods Inwards) has the following items</h2>

<div class="priority1"><%= params[:notice] %></div>


<table>
    <tr><th>Part</th><th>Supplier Code</th><th>Qty Ordered</th><th>Qty Received</th><th>Unit price</th><th>Total</th></tr>

<%
part_ids = []
order_in.order_in_lines.each do | sp |
    part_ids.append(sp.part_id)
    part_supplier = PartSupplier.where(part_id: sp.part_id, supplier_id: order_in.supplier_id)[0]
%>
    <tr><td><a href="/parts/<%=sp.part.id%>/edit"><%= sp.part.name %></a></td>
        <td><%= part_supplier.code %></td>
        <td><%=sp.qty%></td>
        <td><%=sp.qty_in%></td>
        <td><%=sp.price%></td>
        <td><%= (sp.price * sp.qty).round(2)%></td>
        <% if (sp.qty_in == 0)%>
        <td><input type="button" value="Delete" onClick="javascript:delete_part('<%= sp.id %>')"/></td>
        <% end %>
        <% if (sp.qty_in != sp.qty)%>
        <td><input type="number" id="rx_qty_<%= sp.id %>" value="<%= sp.qty - sp.qty_in %>"/></td>
        <td><input type="button" value="Received" onClick="javascript:rx_part('<%= sp.id %>')"/></td>
        <% else %>
        <td>Received <%= distance_of_time_in_words_to_now(sp.updated_at)%> ago</td>
        <% end %>
    </tr>
<% end %>
</table>

<select id="parts_list">
<% 
    part_suppliers = order_in.supplier.part_suppliers.all
    part_suppliers.each do | pr | 
        if (not part_ids.include?(pr.part_id))
%>
    <option value='<%= pr.part.id %>'><%= pr.part.name %> (<%= pr.code %>)</option>option>
<% 
        end
    end
%>
</select>    
Qty: <input type="number" id="part_qty_field" value="1"/> 
Price: <input type="number" id="part_price_field" value="0"/> 
<input type="button" value="Add" onClick="javascript:add_part()"/>

