<p id="notice"><%= notice %></p>
<script>
function new_order_in() {
    var list = document.getElementById("suppliers_list");
    var supplier_id = list.options[list.selectedIndex].value;
    document.location = "/order_ins/new?supplier_id=" + supplier_id
}  
</script>

<h1>Orders (Goods Inwards)</h1>

<select id="suppliers_list">
<% 
    suppliers = Supplier.all.order(name: :asc)
    suppliers.each do |supplier| %>
    <option value='<%= supplier.id %>'><%= supplier.name %></option>option>
<% end %>
</select> 

<input type="button" value="New Order In" onclick="javascript:new_order_in()"/>

<p></p>

<i class="priority12">In progress (order not placed)</i>
<i class="priority11">Complete and received (all items received)</i>
<i class="priority13">Oustanding (ordered but not all received)</i>

<p></p>

<table>
  <thead>
    <tr>
      <th>Supplier</th>
      <th>Order Date</th>
      <th>Order Summary</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @order_ins.each do |order| %>
      <tr class="priority<%= order.priority %>">
        <td><%= order.supplier.name %></td>
        <td><%= order.placed_date %></td>
        <td><%= order.summary %></td>
        <td><%= link_to 'Edit', edit_order_in_path(order) %></td>
        <td><%= link_to 'Destroy', order, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
