<script>
$(function() {
    $('#edit_part_<%=@part.id%>').areYouSure();
});    
</script>

<h1>Editing Part: <%= @part.name %></h1>

<p>This part is used in the following products: 
<% 
  @part.product_parts.each do |product_part| 
    %>
      <% 
      begin
        if (product_part.product.active)
      %>
    <a href="/products/<%=product_part.product_id %>/edit"><%= product_part.product.name %></a>
      <%
        end
    	rescue Exception
    		""
    	end
      %>;
<% end %>
</p>

<p>This part is used in the following assemblies: 
<% 
	@part.assembly_parts.each do |assembly_part| %>
      <% 
      begin
        if (assembly_part.assembly.active)
      %>
    <a href="/assemblies/<%=assembly_part.assembly_id %>/edit"><%= assembly_part.assembly.name %></a>
      <%
        end
    	rescue Exception
    		""
    	end
      %>;
<% end %>
</p>

<p>
<a href="#" target="popup" onclick="window.open('/parts/stock_label?id=<%=@part.id%>','name','width=600,height=400')">Print Part Label</a>
</p>

<%= render 'form', part: @part %>

