<script>
    function hideInactive() {
        $('.inactive').hide();
        $('#hide_button').hide();
        $('#show_button').show();
    }
    
    function showInactive() {
        $('.inactive').show();
        $('#hide_button').show();
        $('#show_button').hide();
    }
    

const barcode_length = 10;
var field;

function lookup_barcode(barcode) {
    if (barcode.startsWith('PART')) {
        var part_id = barcode.substring(4);
        document.location="/parts/" + part_id + "/edit";
    }
    else {
        alert("No PART found with this barcode. Are you sure the code isn't for a PRODUCT?");
    }
}

function barcode_changed(event) {
    barcode = event.target.value
    if (barcode.length == barcode_length) {
        lookup_barcode(barcode);
        field.value = '';
    }
}

window.onload = function() {
  field = document.getElementById("barcode_input")
  field.focus();
};

</script>

<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<%= link_to 'New Part', new_part_path %>  &nbsp; <a href="parts/export_parts.csv">parts.csv</a>

<br/>

<a id="show_button" href="javascript:showInactive()">Show Inactive Parts</a>
<a id="hide_button" href="javascript:hideInactive()">Hide Inactive Parts</a>
<p></p>

SCAN BARCODE <input type="text" id="barcode_input" onInput="barcode_changed(event)"></input>




  <% PartCategory.all.order(name: :asc).each do |cat| 
    parts = cat.parts.order(name: :asc)
    if (parts.length > 0)
  %>

    <h3><%= cat.name %></h3>


<table border="1">
  <thead>
    <tr>
      <th>Code</th>
      <th>Name</th>
      <th>Qty</th>
      <th>Purchase Cost £</th>   
      <th>Used In</th>
      <th>Value of stock (£)</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% 
    parts.each do |part| 
        style_class = ""
        if (part.qty <= part.stock_warning_level)
            style_class = "warning"
        end
        if (not part.active)
            style_class = "inactive"
        end
        
    %>
      <tr class="<%=style_class%>">
        <td>PART-<%=part.id%></td>
        <td><%= link_to part.name, edit_part_path(part) %></td>
        <td><%= part.qty.to_s + part.on_order_details%></td>
        <td><%= part.purchase_cost.round(3) %></td>
        <td><%= part.usage_summary() %></td>
        <td><%= (part.purchase_cost * part.qty).round() %></td>
        <td><a href="#" target="popup" onclick="window.open('/parts/stock_label?id=<%=part.id%>','name','width=600,height=400')">Label</a></td>
        <td><a href="/parts/<%=part.id%>/set_inactive">Set Inactive</a></td>
        <%
        if (part.part_suppliers and part.part_suppliers.length > 0)
          part.part_suppliers.each do | ps |
            if (ps.supplier.product_url_base and ps.supplier.product_url_base.length > 0 and ps.code)
          %>
        <td><a href="<%=ps.supplier.product_url_base + ps.code%>"><%=ps.supplier.name%> (<%=ps.code%>)</a></td>
          <%
            end
          end
        end
      end
        %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <hr/>

<%end%>

<script>hideInactive()</script>

