<script>
    function hideInactive() {
        $('.inactive').hide();
        $('#hide_button').hide();
        $('#show_button').show();
    }
    
    function showInactive() {
        $('.inactive').show();
        $('#hide_button').show();
        $('#show_button').hide();
    }
    
</script>

<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<%= link_to 'New Part', new_part_path %>  &nbsp; <a href="parts/export_parts.csv">parts.csv</a>

<br/>

<a id="show_button" href="javascript:showInactive()">Show Inactive Parts</a>
<a id="hide_button" href="javascript:hideInactive()">Hide Inactive Parts</a>

<p></p>


  <% PartCategory.all.each do |cat| %>

    <h3><%= cat.name %></h3>


<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Qty</th>
      <th>Purchase Cost £</th>   
      <th>Used In</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% parts = cat.parts.order(name: :asc)
    parts.each do |part| 
        style_class = ""
        if (part.qty <= part.stock_warning_level)
            style_class = "warning"
        end
        if (not part.active)
            style_class = "inactive"
        end
    %>
      <tr class="<%=style_class%>">
        <td><%= link_to part.name, edit_part_path(part) %></td>
        <td><%= part.qty %></td>
        <td><%= part.purchase_cost.round(3) %></td>
        <td><%= part.usage_summary() %></td>
        <td><%= link_to 'Delete', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <hr/>

<%end%>

<script>hideInactive()</script>

