<p id="notice"><%= notice %></p>

<h1>Parts</h1>

<%= link_to 'New Part', new_part_path %>  &nbsp; <a href="parts/export_parts.csv">parts.csv</a>

<p></p>


  <% PartCategory.all.each do |cat| %>

    <h3><%= cat.name %></h3>


<table border="1">
  <thead>
    <tr>
      <th>Name</th>
      <th>Qty</th>
      <th>Purchase Cost £</th>    
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% parts = cat.parts.order(name: :asc)
    parts.each do |part| 
        style_class = ""
        if (part.qty <= part.stock_warning_level)
            style_class = "warning"
        end
    %>
      <tr class="<%=style_class%>">
        <td><%= link_to part.name, edit_part_path(part) %></td>
        <td><%= part.qty %></td>
        <td><%= part.purchase_cost.round(3) %></td>
        <td><%= link_to 'Delete', part, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

  <hr/>

<%end%>

<table border="1">
  <thead>
  <tr>
    <th>Name</th>
    <th>Qty</th>
    <th>Purchase Cost £</th>
    <th colspan="3"></th>
  </tr>
  </thead>

  <tbody>
  <% parts = Part.all
     cat = PartCategory.find_by name: 'UNCATEGORIZED'
     parts.each do |part|
       if not part.part_category
          part.category_id = cat.id
          part.save
        end
     end
 %>
  </tbody>
</table>
