<script>
$(function() {
    $('#edit_retailer_<%=@retailer.id%>').areYouSure();
});   
</script>

<h1>Retailer: <%= @retailer.name %></h1>

<%= render 'form', retailer: @retailer %>

<%= link_to 'Show', @retailer %> |
<%= link_to 'Back', retailers_path %>
