<script>
    function hideInactive() {
        $('.inactive').hide();
        $('#hide_button').hide();
        $('#show_button').show();
    }
    
    function showInactive() {
        $('.inactive').show();
        $('#hide_button').show();
        $('#show_button').hide();
    }
    
</script>


<p id="notice"><%= notice %></p>

<h1>Retailers</h1>

<%= link_to 'New Retailer', new_retailer_path %>
<br/>

<a href="/retailers/retailer_list_website">Generate Retailers HTL for Website</a>

<br/>

<a id="show_button" href="javascript:showInactive()">Show Inactive Retaliers</a>
<a id="hide_button" href="javascript:hideInactive()">Hide Inactive Retailers</a>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Orders</th>
      <th>Contact name</th>
      <th>Contact email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @retailers.all.order(name: :asc).each do |retailer| 
        status_class = "active"
        if (not retailer.active)
            status_class = "inactive"
        end
    
    %>  
      <tr class="<%= status_class %>">
        <td><%= link_to retailer.name, edit_retailer_path(retailer), class: status_class%></td>
        <td><%= retailer.shipments.length %></td>
        <td><%= retailer.contact_name %></td>
        <td><%= retailer.contact_email %></td>
        <td><%= link_to 'Destroy', retailer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


<script>hideInactive()</script>
