<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @retailer.name %>
</p>

<p>
  <strong>Contact name:</strong>
  <%= @retailer.contact_name %>
</p>

<p>
  <strong>Contact email:</strong>
  <%= @retailer.contact_email %>
</p>

<p>
  <strong>Notes:</strong>
  <%= @retailer.notes %>
</p>

<%= link_to 'Edit', edit_retailer_path(@retailer) %> |
<%= link_to 'Back', retailers_path %>
