<%= form_for(book_keeping_category) do |f| %>
  <% if book_keeping_category.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(book_keeping_category.errors.count, "error") %> prohibited this book_keeping_category from being saved:</h2>

      <ul>
      <% book_keeping_category.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <%= f.label :code %>
    <%= f.text_field :code %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
