<p id="notice"><%= notice %></p>

<h1>Book Keeping Categories</h1>

<h1>Warning</h1>

<p>You can change the name but NOT the codes<p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Code</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @book_keeping_categories.each do |book_keeping_category| %>
      <tr>
        <td><%= book_keeping_category.name %></td>
        <td><%= book_keeping_category.code %></td>
        <td><%= link_to 'Edit', edit_book_keeping_category_path(book_keeping_category) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Book Keeping Category', new_book_keeping_category_path %>
