<%= form_for(communication) do |f| %>
  <% if communication.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(communication.errors.count, "error") %> prohibited this communication from being saved:</h2>

      <ul>
      <% communication.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :prospect_id %>
    <%= f.number_field :prospect_id %>
  </div>

  <div class="field">
    <%= f.label :communication_date %>
    <%= f.date_select :communication_date %>
  </div>

  <div class="field">
    <%= f.label :user_id %>
    <%= f.number_field :user_id %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_area :notes %>
  </div>

  <div class="field">
    <%= f.label :email_url %>
    <%= f.text_field :email_url %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
