<%= form_for(prospect) do |f| %>
  <% if prospect.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(prospect.errors.count, "error") %> prohibited this prospect from being saved:</h2>

      <ul>
      <% prospect.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :organisation_name %>
    <%= f.text_field :organisation_name %>
  </div>

  <div class="field">
    <%= f.label :contact_name %>
    <%= f.text_field :contact_name %>
  </div>

  <div class="field">
    <%= f.label :contact_email %>
    <%= f.text_field :contact_email %>
  </div>

  <div class="field">
    <%= f.label :country %>
    <%= f.text_field :country %>
  </div>

  <div class="field">
    <%= f.label :notes %>
    <%= f.text_field :notes %>
  </div>

  <div class="field">
    <%= f.label :account_manager_user_id %>
    <%= f.number_field :account_manager_user_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
