<script>
function set_region(region) {
  selected_region_control = document.getElementById('selected_region_control');
  selected_region_control.textContent = region;
  suppliers_list_div = $('#suppliers_list_div');
  let divs = suppliers_list_div.children();
  divs.each(function(i) {
    div = divs.eq(i)
    div_reg = div.data("region");
    if (div_reg == region || region == 'All Regions') {
      div.show();
    } else {
      div.hide();
    }
  });
}
</script>



<!DOCTYPE html>
<html lang="en">

<%= render 'header' %>

<body id="page-top">


  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item active"><a href="#">Home</a></li>
        </ol>
      </nav>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section2">Our Resellers</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section3">Become a Reseller</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="products.html">Products</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">

      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0 text-primary">Monk Makes Ltd</h1>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0 text-primary"><%=Website.strap_line.html_safe%></p>
      <br/>
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
<%
        images = Website.carousel_images
        i = 0
        images.each do | im |
            active = ''
            i += 1
            active = 'active' if (i == 1)
%>
          <div class="carousel-item <%=active%>">
            <img src="<%=im%>" height="400" alt="..."/>
          </div>
<%
        end
%>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      <div class="font-weight-light mb-0 text-primary text-left">
        <br/>
        <%=Website.homepage_blurb.html_safe%>
      </div>
    </div>
  </header>



  <!-- Retailers Section -->
  <section class="page-section portfolio bg-primary text-white" id="section2">
    <div class="container d-flex align-items-center flex-column">

      <!-- Retailers Heading -->
      <h1 class="page-section-heading text-center text-uppercase mb-0">Our Resellers</h1>
      <p class="masthead-subheading font-weight-light mb-0"><%=Website.distributers_blurb.html_safe%></p>
      
      <br/>

      <div>
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="selected_region_control" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Regions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button onClick="set_region('All Regions')" class="dropdown-item" type="button">All Regions</button>
<%
Region.all.each do | region |
%>
                <button onClick="set_region('<%=region.name%>')" class="dropdown-item" type="button"><%=region.name%></button>
<%
end
%>
            </div>
        </div>
      </div>



      <!-- Grid Items -->
      <div id="suppliers_list_div" class="row text-primary justify-content-center m-1">

<%
country = ''
retailers = Retailer.all
retailers = retailers.sort_by{|a| [a.delivery_ad_country, -a.shipments.length]}
retailers.each do | retailer |
    if (not retailer.is_retail and retailer.active and retailer.include_in_website == true)
        country = retailer.billing_ad_country
%>
        <!-- Retailer Info -->
        <div data-region='<%=retailer.region.name%>' class="card m-2" style="width: 17rem; height: 17rem; spacing: 10">
          <img class="card-img-top" src="<%=retailer.logo_url%>" alt="<%=retailer.name%>">
          <div class="card-body d-flex flex-column">
            <div class="mt-auto">
                <a href="<%=retailer.mm_products_url%>" class="btn btn-primary">Web Store</a>&nbsp;&nbsp;&nbsp;
                <img src="img/flags/<%=country.downcase%>-64.png" alt="<%=country%>"/>
            </div>
          </div>
        </div>

<%          
        end 
    end %>

      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- Section: Become a Reseller -->
  <section class="page-section mb-0" id="section3">
    <div class="container d-flex align-items-center flex-column">

      <!-- Become a Retailer Section Heading -->
      <h1 class="page-section-heading text-center text-uppercase text-primary">Become a Reseller</h1>

      <!-- Become a Retailer Content -->
      <div class="row">
        <div>
          <br/>
          <%=Website.become_reller_blurb.html_safe%>
        </div>
      </div>
    </div>
  </section>


  <%= render 'footer' %>

</body>

</html>


