<!DOCTYPE html>
<html lang="en">

<%= render 'header' %>

<body id="page-top">

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="products.html">Products</a></li>
          <li class="breadcrumb-item"><a href="products.html#<%=@product.product_category.name%>"><%=@product.product_category.name%></a></li>
          <li class="breadcrumb-item active" aria-current="page"><%=@product.name%></li>
        </ol>
      </nav>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section2">Where to Buy</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section3">Details</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section4">Resources</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">


      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0 text-primary"><%=@product.name%></h1>

      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0 text-primary"><%=@product.short_description%></p>
      <br/>

      <!-- Carousel for this product-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="https://drive.google.com/uc?id=0B-Kwyqk37fgpM0Jtd29fUlFCQ2s"  height="400" alt="...">
          </div>
          <div class="carousel-item">
            <img src="https://drive.google.com/uc?id=0B-Kwyqk37fgpN1lDSE1zMzc2Y0k" height="400" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
      
    </div>

  </header>


  <!-- Section: Where to Buy -->
  <section class="page-section portfolio bg-primary text-white" id="section2">
    <div class="container d-flex align-items-center flex-column">

      <!-- Where to Buy Section Heading -->
      <h1 class="page-section-heading text-center text-uppercase mb-0">Where to Buy</h1>
      <p class="masthead-subheading font-weight-light mb-0">You can buy the <%=@product.name%> directly from the following retailers.</p>
      <br/>

      <!-- Grid Items -->
      <div class="row text-primary">

<%
    @product.product_retailers.each do | product_retailer |
        retailer = product_retailer.retailer
        if (retailer.include_in_website == true)
            buy_link = product_retailer.url
%>

        <!-- Retailer-Product Info section -->
        <div class="card" style="width: 15rem; height: 20rem">
            <img class="card-img-top" src="<%=retailer.logo_url%>" alt="<%=retailer.name%>">
            <div class="card-body d-flex flex-column">
            <p class="card-text"></p>
<% if (buy_link and buy_link.length > 3) %>
            <div class="mt-auto">
                <a href="<%=product_retailer.url%>" class="btn btn-primary">Buy</a> &nbsp;
                <img src="img/flags/<%=retailer.billing_ad_country.downcase%>-64.png"/>
            </div>
                <% else %>
                <p>Set Buy Link: http://localhost:3000/product_retailers/<%=product_retailer.id%>/edit</p>
<% end %>
                
            </div>
        </div>

<%
        end
    end        
%>
      </div>
      <!-- /.row -->

    </div>
  </section>

  <!-- Section: Details-->
  <section class="page-section mb-0" id="section3">
    <div class="container d-flex align-items-center flex-column">

      <!-- Details Section Heading -->
      <h1 class="page-section-heading text-center text-uppercase text-primary">Details</h1>

      <!-- Details Section Content -->
      <div class="row">
        <div>
          <div class="text-center"><img class="img-fluid" src="https://drive.google.com/uc?id=0B-Kwyqk37fgpN1lDSE1zMzc2Y0k" width="500" alt="..."/>
          </div>
          <div class="masthead-subheading font-weight-light mb-0 text-primary text-left">
            <%=@product.long_description%>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Resources -->
  <section class="page-section bg-primary" id="section4">
    <div class="container">

      <!-- Resources Section Heading -->
      <h1 class="page-section-heading text-center text-uppercase mb-0 text-white">Resources</h1>


      <!-- Resources Section Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
          <i class="fas fa-download mr-2"></i>
          Getting Started Tutorial (PDF)
        </a>
      </div>

      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="https://startbootstrap.com/themes/freelancer/">
          <i class="fas fa-download mr-2"></i>
          Datasheet (PDF)
        </a>
      </div>

      <div class="text-center mt-4 text-white">
        <h3>For further help please email support@monkmakes.com</h3>
      </div>

    </div>
  </section>

  <%= render 'footer' %>



</body>

</html>
