<script>
function set_region(region) {
  selected_region_control = document.getElementById('selected_region_control');
  selected_region_control.textContent = region;
  suppliers_list_div = $('#suppliers_list_div');
  let divs = suppliers_list_div.children();
  divs.each(function(i) {
    div = divs.eq(i)
    div_reg = div.data("region");
    if (div_reg == region || region == 'All Regions') {
      div.show();
    } else {
      div.hide();
    }
  });
}
</script>


<!DOCTYPE html>
<html lang="en">

<%= render 'header' %>

<body id="page-top">

<div id="app">

  <!-- Navigation Bar -->
  <nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item"><a href="index.html">Home</a></li>
          <li class="breadcrumb-item"><a href="products.html">Products</a></li>
          <li class="breadcrumb-item"><a href="products.html#<%=@product.product_category.name%>"><%=@product.product_category.name%></a></li>
          <li class="breadcrumb-item active" aria-current="page"><%=@product.name%></li>
        </ol>
      </nav>
      <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        Menu
        <i class="fas fa-bars"></i>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section2">Where to Buy</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section3">Details</a>
          </li>
          <li class="nav-item mx-0 mx-lg-1">
            <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#section4">Resources</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Masthead -->
  <header class="masthead text-white text-center">
    <div class="container d-flex align-items-center flex-column">
      <!-- Masthead Heading -->
      <h1 class="masthead-heading text-uppercase mb-0 text-primary"><%=@product.name%></h1>
      <!-- Masthead Subheading -->
      <p class="masthead-subheading font-weight-light mb-0 text-primary"><%=@product.short_description%></p>
      <br/>

      <!-- Carousel for this product-->
      <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        </ol>
        <div class="carousel-inner">
<%
        images = @product.carousel_images
        i = 0
        images.each do | im |
            active = ''
            i += 1
            active = 'active' if (i == 1)
%>
          <div class="carousel-item <%=active%>">
            <img src="<%=im%>" height="400" alt="..."/>
          </div>
<%
        end
%>
        </div> <!-- carrousel-inner -->
        <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div> <!-- example indicators -->
    </div> <!-- container -->

  </header>


  <!-- Section: Where to Buy -->
  <section class="page-section portfolio bg-primary text-white" id="section2">
    <div class="container d-flex align-items-center flex-column">

      <!-- Where to Buy Section Heading -->
      <h1 class="page-section-heading text-center text-uppercase mb-0">Where to Buy</h1>
      <p class="masthead-subheading font-weight-light mb-0">You can buy the <%=@product.name%> directly from the following retailers.</p>
      <br/>

      <div v-if="<%=@product.website_product_retailers.length%> > 10">
        <div class="dropdown">
            <button id="selected_region_control" class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Regions
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button onClick="set_region('All Regions')" class="dropdown-item" type="button">All Regions</button>
<%
Region.all.each do | region |
%>
                <button onClick="set_region('<%=region.name%>')" class="dropdown-item" type="button"><%=region.name%></button>
<%
end
%>
            </div>
        </div>
      </div>

      <!-- Grid Items -->
      <div id="suppliers_list_div" class="row text-primary justify-content-center m-1">

<%
    @product.website_product_retailers.each do | product_retailer |
        retailer = product_retailer.retailer
        buy_link = product_retailer.url
        if (buy_link and buy_link.length > 5 and not retailer.is_retail and retailer.active and retailer.include_in_website == true)
%>

        <!-- Retailer-Product Info section -->
        <div data-region='<%=retailer.region.name%>' class="card m-2" style="width: 12rem; height: 15rem">
          <a href="<%=product_retailer.url%>"><img class="card-img-top" src="<%=retailer.logo_url%>" alt="<%=retailer.name%>"></a>
            <div class="card-body d-flex flex-column">
              <p class="card-text"></p>
              <div class="mt-auto">
                  <a href="<%=product_retailer.url%>" class="btn btn-primary">Buy</a> &nbsp;
                  <img src="img/flags/<%=retailer.billing_ad_country.downcase%>-64.png"/>
              </div>
            </div>
        </div>

<%
        end
    end        
%>
      </div> <!-- /.row -->
    </div>
  </section>

  <!-- Section: Details-->
  <section class="page-section mb-0" id="section3">
    <div class="container d-flex align-items-center flex-column">

      <!-- Details Section Heading -->
      <h1 class="page-section-heading text-center text-uppercase text-primary">Details</h1>

      <!-- Details Section Content -->
      <div class="row">
        <div>
          <div class="text-center"><img class="img-fluid" src="<%=@product.product_photo_uri%>" width="500" alt="..."/>
          </div>
          <div class="masthead-subheading font-weight-light mb-0 text-primary text-left">
            <%=@product.long_description.html_safe%>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!-- Section: Resources -->
  <section class="page-section bg-primary" id="section4">
    <div class="container">

      <!-- Resources Section Heading -->
      <h1 class="page-section-heading text-center text-uppercase mb-0 text-white">Resources</h1>

<% if (@product.tutorial_url and @product.tutorial_url.length > 3) %>
      <!-- Tutorial Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="<%=@product.tutorial_url%>">
          <i class="fas fa-download mr-2"></i>
          Getting Started Tutorial (PDF)
        </a>
      </div>
<% end %>

<% if (@product.instructions_url and @product.instructions_url.length > 3) %>
      <!-- Instructions Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="<%=@product.instructions_url%>">
          <i class="fas fa-download mr-2"></i>
          Instructions (PDF)
        </a>
      </div>
<% end %>

<% if (@product.datasheet_url and @product.datasheet_url.length > 3) %>
      <!-- Datasheet Button -->
      <div class="text-center mt-4">
        <a class="btn btn-xl btn-outline-light" href="<%=@product.datasheet_url%>">
          <i class="fas fa-download mr-2"></i>
          Datasheet (PDF)
        </a>
      </div>
<% end %>


      <div class="text-center mt-4 text-white">
        <h3>For further help please email support@monkmakes.com</h3>
      </div>

    </div>
  </section>

</div> <!-- end of Vue app -->  

<%= render 'footer' %>


</body>
</html>


<script>
window.onload = function () {
    var app = new Vue({
        el: '#app',
        data: {
          selected_region: 'All Regions',
        },
        mounted: function() {
          var that;
        },
        methods: {
            test: function() {
                this.status = 'test'
                alert("here")
            },
        }
    });
}

</script>
    