<%= form_for(adjustment) do |f| %>
  <% if adjustment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(adjustment.errors.count, "error") %> prohibited this adjustment from being saved:</h2>

      <ul>
      <% adjustment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
  <tr><td>Date</td><td><%= datepicker_input f, :adjustment_date %></td></tr>
  <tr><td>Amount (+ for income) £</td><td><%= f.text_field :value %></td></tr>
  <tr><td>Adjustment Type</td>
    <td><%= f.select :adjustment_type, options_for_select(Adjustment.types.map{|s|[s, s]}, :selected => adjustment.adjustment_type) %></td>
  </tr>
  <tr><td>Notes</td><td><%= f.text_area :notes, size: '50x10' %></td></tr>
</table>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
