<script>
 


function set_date(field_name, date) {
    $(field_name).val(date);
}
    
function add_part() {
    var list = document.getElementById("parts_list");
    var part_id = list.options[list.selectedIndex].value;
    var qty = document.getElementById("part_qty_field").value
    document.location = "/products/add_part?part_id=" + part_id + "&amp;product_id=<%= product.id %>&amp;qty="+qty
}    
    
function delete_part(product_part_id) {
    if (confirm("Are you sure")) {
        document.location = "/products/delete_part?product_part_id=" + product_part_id
    }
}    
    
function delete_assembly(product_assembly_id) {
    if (confirm("Are you sure")) {
        document.location = "/products/delete_assembly?product_assembly_id=" + product_assembly_id
    }
}    
    
function add_assembly() {
    var list = document.getElementById("assemblies_list");
    var assembly_id = list.options[list.selectedIndex].value;
    var qty = document.getElementById("assembly_qty_field").value
    document.location = "/products/add_assembly?assembly_id=" + assembly_id + "&amp;product_id=<%= product.id %>&amp;qty="+qty
}    
    
function deduct(qty) {
    n_max = <%= product.possible_makes %>
    if (qty > n_max) {
        alert("You only have parts for a maximum of " + n_max)
    }
    else {
        if (confirm("Are you sure?")) {
            document.location = "/products/deduct_stock?product_id=<%= product.id %>&amp;qty="+qty
        }
    }
        
}

function calc_prices() {
    var with_vat_field = document.getElementById("with_vat_field");
    var retail_price_field = document.getElementById("product_retail_price");
    var wholesale_price_field = document.getElementById("product_wholesale_price");
    
    with_vat = Number(with_vat_field.value)
    retail_without_vat = with_vat / 1.2
    wholesale = retail_without_vat * 0.6
    retail_price_field.value = retail_without_vat
    wholesale_price_field.value = wholesale
}

$(document).ready(function(){
    $( '.collapseWebsite' ).hide();
    $( '.collapseCatalog' ).hide();
    $( '.collapseParts' ).hide();
    $( '.collapseRetailers' ).hide();
});

</script>

<%= form_for product, html: {multipart: true} do |f| %>
<%
    if (not @product.wholesale_price_usd)
        @product.wholesale_price_usd = 0
    end
%>


  <% if product.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(product.errors.count, "error") %> prohibited this product from being saved:</h2>

      <ul>
      <% product.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>    

  <% if (not @product.active) %>
  <h1 class="warning">WARNING INACTIVE PRODUCT</h1>
  <% end %>

<table><tr>
    <td><table>
    <tr><th colspan="2">Basic</th></tr>
    <tr><td>Name</td><td> <%= f.text_field :name, :maxlength=>"50"%></td></tr>
        
    <tr><td>Product Category</td>
    <td>  
      <%= f.collection_select(:product_category_id, ProductCategory.all, :id, :name) %>
    </td>
    </tr>
        
    <tr><td>Active</td><td> <%= f.check_box :active %></td></tr>    
        
    <tr><td>SKU</td><td>  <%= f.text_field :sku, size: '40'%> </td></tr>
    <tr><td>RoHS</td><td> <%= f.check_box :rohs_compliant %>
        <% 
        if (product.rohs_compliant)
        %>
        <img src="/images/rohs_small.png" width="50"/>
        <% end %>
    </td></tr>
    <tr><td>Last barcode used</td><td><%= Product.last_barcode %></td></tr>
    <tr><td>Barcode file</td><td><%= f.file_field :barcode %><%= image_tag @product.barcode.url(:medium) %></td></tr>
    <tr><td>Barcode</td><td><%=product.barcode_value%>
    <% 
        products_with_this_barcode = Product.where("barcode_value = ?", @product.barcode_value)
        if (@product.barcode_value and @product.barcode_value.length > 0 and products_with_this_barcode.length > 1) 
            products_list = products_with_this_barcode.map {| p | p.name}
    %>
        <span class="priority1">Warning: This barcode is in use with more than one product: <%= products_list %></span>
        
    <% end %>
    </td></tr>

    <tr><td>Quantity (for emergency manual ajustments)</td><td> <%= f.number_field :qty %></td></tr>
    <tr><td>Stock level warning</td><td> <%= f.number_field :stock_warning_level %></td></tr>  
        


    <tr><th onclick="$( '.collapseCatalog' ).toggle();" colspan="2">Catalog</th></tr>    
    <tr class="collapseCatalog"><td>Include in Catalog</td><td> <%= f.check_box :include_in_catalog %></td></tr>    
    <tr class="collapseCatalog"><td>New in Catalog</td><td> <%= f.check_box :new_in_catalog %></td></tr>    
    <tr class="collapseCatalog"<td>New price in Catalog</td><td> <%= f.check_box :new_price_in_catalog %></td></tr>    
    <tr class="collapseCatalog"><td>End of Line in Catalog</td><td> <%= f.check_box :end_of_line_in_catalog %></td></tr>        
    <tr class="collapseCatalog"><td>Photo URL</td><td><%= f.text_field :product_photo_uri, size: '80' %></td></tr>  

    <tr class="collapseCatalog"><td>Link for high res images</td><td> <%= f.text_field :high_res_image_share, size: '80' %> </td></tr>  
    <tr class="collapseCatalog"><td>Product URL</td><td> <%= f.text_field :product_url, size: '80' %> </td></tr> 
    <tr class="collapseCatalog"><td>Compatability Icon</td><td> 
        <%= f.select :compatability_image, 
            options_for_select(['', 'm_b_compat_1_2.png', 'm_b_compat_1.png', 'm_b_compat_2.png'].map{|s|[s, s]}, :selected => product.compatability_image) %>
        <% if (product.compatability_image) %>
            <img src="/img/<%=product.compatability_image%>" width="150"</image>
        <% end %>
    </td></tr>     
    <tr class="collapseCatalog"><td>Short Description</td><td> <%= f.text_area :short_description, size: '50x2' %> </td></tr> 
    <tr class="collapseCatalog"><td>Catalog Description (HTML)</td><td> <%= f.text_area :long_description, size: '50x10' %> </td></tr>   
    <tr class="collapseCatalog"><td>Catalog Priority</td><td> <%= f.text_field :catalog_priority, size: '10' %> </td></tr>  
    <tr class="collapseCatalog"><td colspan="2">(smaller number means nearer the top. Aim for 0.0 to 100.0)</td>
    <% 
        @product.product_category.products.where(include_in_catalog: true).order(catalog_priority: :asc).each do | p |
    %>
    <tr class="collapseCatalog">
        <td/><td><%=p.catalog_priority%> : <%=p.name%></td>
    </tr>
    <% end %>

    <tr><th onclick="$( '.collapseWebsite' ).toggle();" colspan="2">Website</th></tr>
    <tr class="collapseWebsite"><td>Carousel 0</td><td> <%= f.text_field :carousel_0, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Carousel 1</td><td> <%= f.text_field :carousel_1, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Carousel 2</td><td> <%= f.text_field :carousel_2, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Carousel 3</td><td> <%= f.text_field :carousel_3, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Carousel 4</td><td> <%= f.text_field :carousel_4, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Tutorial URL</td><td> <%= f.text_field :tutorial_url, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Datasheet URL</td><td> <%= f.text_field :datasheet_url, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Instruction Manual URL</td><td> <%= f.text_field :instructions_url, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Lesson URL</td><td> <%= f.text_field :lessons_url, size: '80' %> </td></tr>
    <tr class="collapseWebsite"><td>Video URL 1 (use /embed/)</td><td> <%= f.text_field :video_url_0, size: '80' %> </td></tr>   
    <tr class="collapseWebsite"><td>Video URL 2</td><td> <%= f.text_field :video_url_1, size: '80' %> </td></tr> 
    <tr class="collapseWebsite"><td>Video URL 3</td><td> <%= f.text_field :video_url_2, size: '80' %> </td></tr> 

    <tr><th colspan="2">Pricing</th></tr>
    <tr><td>Labour (£)</td><td><%= f.text_field :labour %></td></tr>
    <tr><td colspan="2">The manufacturing cost of this product is £<%= product.production_cost.round(2) %></td><td></tr>
    <% if (@product.wholesale_price_catalog != @product.wholesale_price) %>
            <tr><td colspan="2" class="warning">Warning Invoice wholesale price and Catalog wholesale price are NOT the same</td></tr>
    <% end %>
    <% if (@product.retail_price_catalog != @product.retail_price) %>
    <tr><td colspan="2" class="warning">Warning Retail wholesale price and Catalog retail price are NOT the same</td></tr>
<% end %>
    <tr><td>Wholesale price GBP</td><td> <%= f.text_field :wholesale_price %> (suggested £<%= @product.suggested_wholesale.round(2) %>)</td></tr>
    <tr><td>Wholesale for Catalog</td><td> <%= f.text_field :wholesale_price_catalog %></td></tr>
    <tr><td>Profit on GBP sale</td><td>£<%= (@product.profit).round(2) %></td></tr>
    <tr><td>Retail price GBP</td><td> <%= f.text_field :retail_price %> (suggested by wholesale catalog price £<%= @product.suggested_retail.round(2) %>)</td>
    <tr><td>Retail for Catalog</td><td> <%= f.text_field :retail_price_catalog %></td>
    <!--
    <tr><td>Retail with VAT</td><td> <input value="<%=@product.retail_price * 1.2%>" id="with_vat_field"/><button onClick="calc_prices()">Back Calculate</button></td>
    </tr>    
    -->
        
    <tr><th colspan="2">Shipping</th></tr>    
    <tr><td>Country of Origin</td><td> <%= f.text_field :country_of_origin, size: '20' %> </td></tr>  
    <tr><td>Weight(grams)</td><td> <%= f.text_field :weight_g %> grams (<%=product.weight_g/1000%>kg, <%=product.weight_g*0.00220462.round(2)%>lbs)</td></tr>
    <tr valign="top"><td>Customs Description (invoice)</td><td> <%= f.text_area :customs_description, size: '50x3' %> </td></tr>  

    <tr><td>HS Code (Work in progress - ignore)</td>
    <td>  
      <%= f.collection_select(:hs_code_id, HsCode.all, :id, :summary) %>
    </td>
    </tr>

    <tr><td>Harmonized Tarrif Number</td><td> <%= f.text_field :harmoized_tarrif_number, size: '40' %> </td></tr>    
    
    </table> 
    
    <div class="actions">
        <%= f.submit "Save" %>
    </div>
 <% end %>    
    </td>

    <td>
        <img src="<%=@product.product_photo_uri%>" width="400"/>
        <p>You have enough parts and assemblies to make: <%= product.possible_makes %> of this product.</p>
        <p>Deduct <input id="n" type="number"/> sets of the parts and assemblies used in this product from stock. 
            <input type="button" value="DO IT" onClick="javascript:deduct(document.getElementById('n').value)"/></p>
        <table>
            <tr><th colspan="2" onclick="$( '.collapseRetailers' ).toggle();">Show/Hide Retailer Sales History</th></tr>
            <tr class="collapseRetailers"><th>Retailer</th><th>Units 90 days</th><th>Units 365 days</td>
        <%  tot_units_90 = 0
            tot_units_365 = 0
            @product.product_retailers.each do |pr| 
                units_90 = pr.retailer.units_sold_last_n_days(90, pr.product)
                tot_units_90 += units_90
                units_365 = pr.retailer.units_sold_last_n_days(365, pr.product)
                tot_units_365 += units_365
                if (units_365 > 0)
            %>
            <tr class="collapseRetailers">
                <td><%=pr.retailer.name%></td>
                <td><%=units_90%></td>
                <td><%=units_365%></td>
            </tr>
        <% end end %>
        <tr class="collapseRetailers"><th>Total</th><th><%=tot_units_90%></th><th><%=tot_units_365%></th></tr>
        </table>
        <table>
            <tr><th colspan="2" onclick="$( '.collapseParts' ).toggle();">Show/Hide Expanded Parts List</th></tr>
            <tr class="collapseParts"><th>Part</th><th>Qty per product</th><th>Qty in stock</th></tr>
            <%
                part_hash = {}
                @product.product_parts.each do |product_part|
                    part_hash[product_part.part] = product_part.qty
                end
                @product.product_assemblies.each do |product_assembly|
                    product_assembly.assembly.assembly_parts.each do |assembly_part|
                        if (not part_hash[assembly_part.part])
                            part_hash[assembly_part.part] = 0
                        end
                        part_hash[assembly_part.part] += (assembly_part.qty) * product_assembly.qty
                    end
                end
                part_hash.each_pair do | part, qty | 
                %>
                <tr class="collapseParts"><td><%=part.name%></td><td><%=qty%></td><td><%=part.qty%></td></tr>
                <%
                end
            %>
        </table>
    </td>
</tr></table>

<hr/>
