<p id="notice"><%= notice %></p>

<script>

function create_pricelist() {
    window.open("/products/pricelist?date=" + $('#valid_until_field').val() + "&currency=" + $('#currency_select').val(), '_blank')
}
    
function create_sales_data() {
    window.open("/products/sales_by_product.csv?days=" + $('#days_field').val(), '_blank')
}

function create_sales_report() {
    window.open("/products/sales_report?days=" + $('#days_field').val(), '_blank')
}

function create_image_list() {
    window.open("/products/image_links", '_blank')
}

</script>

<h1>Products</h1>

<%= button_to 'New Product', new_product_path, :method => "get" %>

<input type="button" value="Export Hi Res Image Link List" onClick="javascript:create_image_list()"/>

<p></p>

Valid Until <input type="text" value="<%=Date.current.next_month.next_month.next_month.end_of_month.strftime("%-d %B %Y")%>" id="valid_until_field"/>
Currency <select id="currency_select"><option value="GBP">GBP</option><option value="USD">USD</option></select>
<input type="button" value="Create Price List" onClick="javascript:create_pricelist()"/>

<p></p>

<p></p>

Previous <input type="text" value="90" id="days_field"/> days
<input type="button" value="Export Sales Report Spreadsheet" onClick="javascript:create_sales_data()"/>
<input type="button" value="View Sales Report" onClick="javascript:create_sales_report()"/>

<p></p>


<table>
  <thead>
  </thead>

  <tbody>
    <% 
    categories = ProductCategory.all.order(priority: :asc)
    categories.each do | cat |
    %>
        <tr><td colspan="2"><h2><%= cat.name %></h2></td></tr>
        <tr>
            <th>Name</th>
            <th>SKU</th>    
            <th>Qty in stock</th>
            <th>Parts for</th>
            <th>Barcode</th>
            <th colspan="3"></th>
        </tr>
    <%
    cat.products.all.order(sku: :asc).each do | product |
        profit = 0
        if (product.wholesale_price and product.wholesale_price > 0)
            profit = (product.profit * 100 / product.wholesale_price).to_i
        end
        style_class = ""
        if (not product.active)
            style_class = "inactive"
        end
    %>
      <tr class="<%=style_class%>">
        <td><%= link_to product.name, edit_product_path(product) %></td>
        <td><%= product.sku %></td>  
        <td><%= product.qty %></td>
        <td><%= product.possible_makes %></td>  
        <td><%= product.barcode_value%></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end end %>
  </tbody>
</table>

<br>


