<p id="notice"><%= notice %></p>

<script>

function create_pricelist() {
    window.open("/products/pricelist?date=" + $('#valid_until_field').val() + "&currency=" + $('#currency_select').val(), '_blank')
}
    
function create_sales_data() {
    window.open("/products/sales_by_product.csv?days=" + $('#days_field').val(), '_blank')
}


</script>

<h1>Products</h1>

<%= button_to 'New Product', new_product_path, :method => "get" %>

<p></p>

Valid Until <input type="text" value="<%=Date.current.next_month.next_month.next_month.end_of_month.strftime("%-d %B %Y")%>" id="valid_until_field"/>
Currency <select id="currency_select"><option value="GBP">GBP</option><option value="USD">USD</option></select>
<input type="button" value="Create Price List" onClick="javascript:create_pricelist()"/>

<p></p>

<p></p>

Previous <input type="text" value="90" id="days_field"/> days
<input type="button" value="Export Sales Report Spreadsheet" onClick="javascript:create_sales_data()"/>

<p></p>


<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>SKU</th>    
      <th>Qty in stock</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% products = Product.all.order(name: :asc)
    products.each do |product| 
        profit = 0
        if (product.wholesale_price and product.wholesale_price > 0)
            profit = (product.profit * 100 / product.wholesale_price).to_i
        end
        style_class = ""
        if (product.qty <= product.stock_warning_level)
            style_class = "warning"
        end
        if (not product.active)
            style_class = "inactive"
        end
    %>
      <tr class="<%=style_class%>">
        <td><%= link_to product.name, edit_product_path(product) %></td>
        <td><%= product.sku %></td>  
        <td><%= product.qty %></td>
        <td><%= link_to 'Delete', product, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


