<style>


    
.smallprint {
    text-align: left;
    margin-top: 2px;  
    margin-bottom: 2px;  
    font: 12px arial, sans-serif;
}
    
h1 {
    text-align: left;
    margin-top: 2px;  
    margin-left: 20px;
    margin-bottom: 2px;  
    font: 40px arial, bold, sans-serif;
}   
    
.cat_heading {
    text-align: left;
    margin-top: 12px;  
    margin-bottom: 6px;  
    font: 32px arial, bold, sans-serif;
    page-break-after: avoid;
}   
    
h2 {
    text-align: center;
    margin-top: 2px;  
    margin-bottom: 2px;  
    font: 36px arial, bold, sans-serif;
}    
    
h3 {
    text-align: left;
    margin-top: 12px;  
    margin-bottom: 6px;  
    font: 32px arial, bold, sans-serif;
    page-break-before:always;
}       
    
table {
    border-collapse: collapse;
}
    
td {
    vertical-align: top;  
}
    
th {
    text-align: left;
    vertical-align: top;  
    font: bold;
    padding-right: 20px;
}
    
tr {
    page-break-inside: avoid;
}
    
    
    
.prod_table_th {
    border: 1px solid black;   
    text-align: left;
    padding: 3;
    font: bold 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}    
    
.prod_table_th_right {
    border: 1px solid black;   
    text-align: right;
    padding: 3;
    font: bold 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}    
    
.prod_table_td { 
    text-align: left;
    padding: 3;
    font: 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}    
    
.prod_table_td_money {
    text-align: right;
    padding: 3;
    font: 14px/1.5 Arial, sans-serif;
    page-break-inside: avoid; 
}  
    
    

</style>


<%

currency_name = params['currency']
currency_symbol = '£'
if (currency_name == 'USD')
    currency_symbol = '$'
end

valid_until_date = params['date']

%>


<table width="100%">
<tr>
<td align="left" colspan="2">
    <img src="/images/logo.png" width="200"/>
    <p>&nbsp;</p>
</td>    
    
<td><h1>Catalogue and Price List</h1><h1>Valid until <%= valid_until_date %></h1></td>
</tr>
</table>


<p><b>All prices in <%=currency_name%> (<%=currency_symbol%>).</b></p>
<p></p>
<p></p>

<%
categories = ProductCategory.all.order(priority: :asc)
categories.each do | cat |
%>

<div class="cat_heading"><%=cat.name%></div>

<table>
<%
cat.products.where(include_in_catalog: true).order(sku: :asc).each do | product |
%>
<tr>
<td class="prod_table_td"><img src="<%=product.product_photo_uri%>" width="100"/></td>
<td>
    <table>
        <tr>
        <td class="prod_table_th" width="450">
            <%
            if (cat.priority != 1000)
            %>
                <%=product.sku%>. 
            <% end %>
            <%=product.name%></td>
        <td class="prod_table_th_right" width="350">
        <% 
            if (product.wholesale_price == 0)
                wholesale_price_string = "TBA"    
            else
                wholesale_price_string = number_to_currency(product.wholesale_price, unit: currency_symbol, separator: ".", delimiter: ",")
            end
            if (product.retail_price == 0)
                retail_price_string = "TBA"    
            else
                retail_price_string = number_to_currency(product.retail_price, unit: currency_symbol, separator: ".", delimiter: ",")
            end
        %>
            Wholesale price <%=wholesale_price_string%>. SRP <%=retail_price_string%>
        </td>
        </tr>
        <tr>
            <td class="prod_table_td" colspan="2" width="800">
            <%
                if (cat.priority == 1000 && product.release_date) # Coming Soon
            %>
                <b>Available from <%= product.release_date.strftime("%B %Y") %></b>. 
            <%
                end
            %>
            <%=product.long_description.html_safe%>
            </td>
        </tr>
        <tr>
            <td class="prod_table_td" colspan="2" width="800">See also: <%=product.product_url%></td>
        </tr>
    </table>
</td>
</tr>
<tr><td>&nbsp;</td></tr> 

<%    
    end
%>

    
</table>


<%    
end
%>

<br/><br/><br/><br/>


<h3>Monk Makes Ltd – What you need to know to trade with us</h3>

<p>For sales, please contact: linda@monkmakes.com</p>

<p>Our prices do not include VAT or any other tax/duty that may apply.</p>

<p>If you are within the EU (but outside the UK) we will zero rate your invoice only if you provide us with your VAT number.</p> 

<p>If you are outside of the EU we will not charge VAT but you are responsible for any custom charges (tax or duty or any other cost applied by customs) that may be applied.</p>

<p>Prices do not include shipping. We are happy to quote for shipping or to use your own courier account. Once we have passed the goods onto the courier they are no longer our responsibility and you are responsible for any loss or damage.</p>

<p>For your first order payment must be made before shipping. Subsequent orders are to be paid within 7 days of shipping. Please note that we accept payment by either bank transfer or PayPal - any deductions made by either payment method are your responsibility.</p>

<p>In the unlikely event that any of our goods are faulty we will either refund or replace.</p>

<p>Please note that the minimum order value is now £200. For your first order only this may be open to negotiation.</p>

<p>Linda Monk.</p>

<br/><br/><br/><br/>

<div class="cat_heading">Company Information</div>

<table>
    <tr><th>Email:</th><td>linda@monkmakes.com</td></tr>
    <tr><th>Website:</th><td>https://monkmakes.com</td></tr>
    <tr><th>Twitter:</th><td>@monkmakes</td></tr>
    <tr><th>Address:</th><td>Monk Makes Ltd.<br/>12 Cuerden Close<br/>Bamber Bridge<br/>Preston<br/>PR5 6BX<br/>United Kingdom</td></tr>
    <tr><th>Company Number:</th><td>8797771 (registered in the UK)</td></tr>
    <tr><th>VAT number:</th><td>GB 222 6746 15</td></tr>
</table>

