<script>

function add_product() {
    var list = document.getElementById("products_list");
    var product_id = list.options[list.selectedIndex].value;
    var qty = document.getElementById("product_qty_field").value
    document.location = "/shipments/add_product?product_id=" + product_id + "&amp;shipment_id=<%= shipment.id %>&amp;qty="+qty
}  
    
function subtract_products() {
    if (confirm("Are you sure? HAVE YOU SAVED THE SHIPMENT?")) {
        document.location = "/shipments/subtract_products?shipment_id=<%= shipment.id %>"
    }
}  
    
function delete_shipment_line(sp_id) {
    document.location = "/shipments/delete_shipment_line?shipment_product_id=" + sp_id
}

function import_shipment_uk() {
    var shipment_code = document.getElementById("shipment_code_field").value
    document.location = "/shipments/import_shipment_uk?shipment_code=" + shipment_code + "&amp;shipment_id=<%= shipment.id %>"
}  
    
function import_shipment_com() {
    var shipment_code = document.getElementById("shipment_code_field").value
    document.location = "/shipments/import_shipment_com?shipment_code=" + shipment_code + "&amp;shipment_id=<%= shipment.id %>"
}  
    
    
function create_invoice(pages) {
    window.open("/shipments/invoice/<%= shipment.invoice_number%>?id=<%= shipment.id %>&pages=" + pages, '_blank')
}
    

function hideInactive() {
    $('.inactive').hide();
    $('#hide_button').hide();
    $('#show_button').show();
}
    
function showInactive() {
    $('.inactive').show();
    $('#hide_button').show();
    $('#show_button').hide();
}
    
</script>


<%
currency_name = 'GBP'
currency_symbol = '£'
if (@shipment.retailer.pref_currency)
    currency_name = @shipment.retailer.pref_currency
end
if (currency_name == 'USD')
    currency_symbol = '$'
end
%>

<h2>Shipping the following items</h2>

<div class="priority1"><%= params[:notice] %></div>

<% if (shipment.retailer.name == 'amazon.co.uk')  %>
<p>
    Amazon.co.uk Shipment Code: <input type="text" id="shipment_code_field"/> 
    <input type="button" value="Import from Amazon.co.uk" onClick="javascript:import_shipment_uk()"/>
</p>
<% elsif (shipment.retailer.name == 'amazon.com') %>
<p>
    Amazon.com Shipment Code: <input type="text" id="shipment_code_field"/> 
    <input type="button" value="Import from Amazon.com" onClick="javascript:import_shipment_com()"/>
</p>
<% end %>



<table>
    <tr><th>Qty</th><th>SKU</th><th>Product</th><th>Unit Price</th><th>Extended Price</th></tr>
<%
total = 0
weight = 0
weight_message = ""
shipment.shipment_products.each do | sp |
    line_total = sp.wholesale_in_currency * sp.qty
    total += line_total
    if (not sp.product.weight_g)
        sp.product.weight_g = 0
        weight_message += "No weight entered for " + sp.product.name + ", "
    end
    weight += sp.product.weight_g * sp.qty
%>
    <tr>
        <td><%=sp.qty%></td>
        <td><%= sp.product.sku %></td>
        <td><%= sp.product.name %></td>
        <td><%=number_to_currency(sp.wholesale_in_currency, unit: currency_symbol, separator: ".", delimiter: ",")%></td>
        <td><%=number_to_currency(line_total, unit: currency_symbol, separator: ".", delimiter: ",")%></td>
        
        <td><input type="button" value="Delete" onClick="javascript:delete_shipment_line(<%=sp.id%>)"/></td></tr>
<% end %>
    <tr><th>Total order value</th><th colspan="3"><%=number_to_currency(total, unit: currency_symbol, separator: ".", delimiter: ",")%></th></tr>
    <tr><th>Total order weight</th><th colspan="3"><%=weight/1000.0%>kg (<%= weight * 0.00220462%>lbs)</th></tr>
</table>

<% if (! shipment.retailer.name.start_with?('amazon.'))  %>
<select id="products_list">

<% 
    local_products = shipment.retailer.product_retailers.map { | pr | pr.product }
    all_products = Product.active_products
    all_products.each do | p | 
        style_class = ""
        if (! local_products.include? p)
            style_class = "inactive"
        end
%>
    <option class="<%=style_class%>" value='<%= p.id %>'><%= p.name %></option>
   <% end %>
</select>    
<a id="show_button" href="javascript:showInactive()">All Products</a>
qty <input type="number" id="product_qty_field" value="1"/> 
<input type="button" value="Add" onClick="javascript:add_product()"/>
<% end %>    
<hr/>

<% if (shipment.stock_subtracted == true) %>
<div class="priority1">Products have been subtracted from MonkMakes stock for this shipment</div>
<% else %>
<input type="button" value="Subtract Shipment Products from Stock" onClick="javascript:subtract_products()"/>
<% end %>


<input type="button" value="Create Invoice 1 page" onClick="javascript:create_invoice(1)"/>
<input type="button" value="Create Invoice 2 pages" onClick="javascript:create_invoice(2)"/>

<script>hideInactive()</script>