<script>
    
function set_date(field_name, date) {
    $(field_name).val(date);
}

</script>


<%= form_for(shipment) do |f| %>
  <% if shipment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(shipment.errors.count, "error") %> prohibited this shipment from being saved:</h2>

      <ul>
      <% shipment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

<table>
    <tr><td>Invoice number</td><td><%= f.text_field :invoice_number %></td></tr>
    <tr><td>Retailer</td><td><a href="/retailers/<%=shipment.retailer_id%>/edit"><%=shipment.retailer.name %></a><%=f.hidden_field :retailer_id%></td></tr>
    <tr><td>Order received date:</td><td><%= datepicker_input f, :date_order_received %></td><td><a href="javascript:set_date('#shipment_date_order_received', '<%=Date.current%>')">Today</a></td></tr>
    
    <tr><td>Invoice sent date:</td><td><%= datepicker_input f, :date_invoice_sent %></td><td><a href="javascript:set_date('#shipment_date_invoice_sent', '<%=Date.current%>')">Today</a></td></tr>
    <tr><td>Dispatched date:</td><td><%= datepicker_input f, :date_dispatched %></td><td><a href="javascript:set_date('#shipment_date_dispatched', '<%=Date.current%>')">Today</a></tr>
    <tr><td>Payment due date:</td><td><%= datepicker_input f, :date_payment_reminder %></td><td><a href="javascript:set_date('#shipment_date_payment_reminder', '<%=Date.current + 7.days%>')">Today + 7 days</a></tr>
    <tr><td>Payment received date:</td><td><%= datepicker_input f, :date_payment_received %></td><td><a href="javascript:set_date('#shipment_date_payment_received', '<%=Date.current%>')">Today</a></tr>
    <tr><td>VAT Rate (%)</td><td> <%= f.text_field :vat_rate %> </td></tr>  
    <tr><td>Shipping Cost</td><td> <%= f.text_field :shipping_cost %> </td></tr>  
    <tr><td>P.O. Number</td><td> <%= f.text_field :po_reference %> </td></tr>
    <tr><td>Shipping Provider</td><td> <%= f.text_field :shipping_provider %> </td></tr>
    <tr><td>Shipping Provider Acc Num</td><td> <%= f.text_field :shipping_provider_ac_no %> </td></tr>
    <tr><td>Discount</td><td> <%= f.text_field :discount %> </td></tr>
    <tr><td>Notes:</td><td><%= f.text_area :notes, size: '50x5' %></td></tr>
    <tr><td>Invoice Comment:</td><td><%= f.text_area :invoice_comment, size: '50x5' %></td></tr>
</table>


  <div class="actions">
    <%= f.submit %>
  </div>


<% end %>

<hr/>
