<script>
$(function() {
    $('#edit_shipment_<%=@shipment.id%>').areYouSure();
});    
</script>

<h1>Shipment:  <%= @shipment.invoice_number %> to <a href="/retailers/<%=@shipment.retailer_id%>/edit"><%= @shipment.retailer.name %></a></h1>

<%= render 'form', shipment: @shipment %>

<%= render 'form_product_list', shipment: @shipment %>