<p id="notice"><%= notice %></p>

<script>

function new_shipment() {
    var list = document.getElementById("retailers_list");
    var retailer_id = list.options[list.selectedIndex].value;
    document.location = "/shipments/new?retailer_id=" + retailer_id
}  

</script>

<h1>Shipments</h1>

<select id="retailers_list">
<% retailers = Retailer.all.order(name: :asc)
    retailers.each do |retailer| %>
    <option value='<%= retailer.id %>'><%= retailer.name %></option>option>
<% end %>
</select> 

<input type="button" value="New Shipment" onclick="javascript:new_shipment()"/>

<p></p>

<i class="priority10">In progress</i>
<i class="priority12">Awaiting payment</i>
<i class="priority11">Paid and complete</i>
<i class="priority13">Overdue</i>

<p></p>

<table>
  <thead>
    <tr>
      <th>Invoice Number</th>
      <th>Retailer</th>
      <th>Invoice Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @shipments.all.order(updated_at: :desc).each do |shipment| %>
      <tr class="priority<%= shipment.priority %>">
        <td>
            <% if (shipment.invoice_number and shipment.invoice_number.length > 0) %>
                <%= shipment.invoice_number%>
            <%else%>
                Not Invoiced
            <%end%>
        </td>
        <td><%= shipment.retailer.name %></td>
        <td><%= shipment.retailer.pref_currency %> <%=shipment.total_invoice_amount%></td>
        <td><%= link_to "Edit", edit_shipment_path(shipment) %></td>
        <td><a href="/shipments/invoice/<%= shipment.invoice_number%>?id=<%= shipment.id %>">Invoice</a></td>
        <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>


