<p id="notice"><%= notice %></p>

<script>

function new_shipment() {
    var list = document.getElementById("retailers_list");
    var retailer_id = list.options[list.selectedIndex].value;
    document.location = "/shipments/new?retailer_id=" + retailer_id
}  

</script>

<h1>Orders/Shipments</h1>

<select id="retailers_list">
<% retailers = Retailer.all.order(name: :asc)
    retailers.each do |retailer| %>
    <option value='<%= retailer.id %>'><%= retailer.name %></option>option>
<% end %>
</select> 

<input type="button" value="New Shipment" onclick="javascript:new_shipment()"/>

<p></p>

<i class="priorityInProgress">In progress</i>
<i class="priorityAwaitingPayment">Awaiting payment</i>
<i class="priorityPaid">Paid and complete</i>
<i class="priorityOverdue">Overdue</i>

<p></p>

<table>
  <thead>
    <tr>
      <th>Invoice Number</th>
      <th>Retailer</th>
      <th>Invoice Amount</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% 
      # Sort the shipments - ones with no invoice_number to the top
      # First make 2 lists - with and without invoice date 

      # Then sort all without invoice date by creation date order descending
      # Then sort all with invoice_number descenting
      # Combine the lists again
      un_invoiced_shipments = []
      invoiced_shipments = []

      @shipments.each do | ship |
          if ship.invoice_number.blank?
              un_invoiced_shipments.push(ship)
          else
              invoiced_shipments.push(ship)
          end
      end

      un_invoiced_shipments = un_invoiced_shipments.sort do | a, b | 
          b.created_at <=> a.created_at
      end

      invoiced_shipments = invoiced_shipments.sort do | a, b | 
          b.invoice_number <=> a.invoice_number
      end

      ships = un_invoiced_shipments + invoiced_shipments

      ships.each do |shipment|
        currency_symbol = '£'
        if (shipment.retailer.pref_currency == 'USD')
            currency_symbol = '$'
        end
      %>
      <tr class="priority<%= shipment.priority %>">
        <td>
            <% if (not shipment.invoice_number.blank?) %>
                <%= shipment.invoice_number%>
            <%else%>
                Not Invoiced
            <%end%>
        </td>
        <td><%= shipment.retailer.name %></td>
        <td><%=number_to_currency(shipment.total_invoice_amount, unit: currency_symbol, separator: ".", delimiter: ",")%></td>
        <td><%= link_to "Edit", edit_shipment_path(shipment) %></td>
        <td><a href="/shipments/invoice/<%= shipment.invoice_number%>?id=<%= shipment.id %>">Invoice</a></td>
        <td><%= link_to 'Destroy', shipment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>
