<p id="notice"><%= notice %></p>

<h1>Product Retailers</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% 
      prs = @product_retailers.sort { |a,b| a.retailer.name <=> b.retailer.name }
      prs.each do | product_retailer | 
      product = product_retailer.product
      retailer = product_retailer.retailer
      if (retailer.include_in_website and retailer.active and not retailer.is_retail)
    %>
      <tr>
        <td><%=retailer.name%></td>
        <td><%=product.name%></td>
        <td><%=product_retailer.url%></td>
        <td><%= link_to 'Show', product_retailer %></td>
        <td><%= link_to 'Edit', edit_product_retailer_path(product_retailer) %></td>
        <td><%= link_to 'Destroy', product_retailer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end end%>
  </tbody>
</table>

<br>

<%= link_to 'New Product Retailer', new_product_retailer_path %>
