
<%
ass_type = "Assembly"
if (@assembly.is_panel)
  ass_type = "Panel"
end
%>

<script>
    
$(function() {
    $('#edit_assembly_<%=assembly.id%>').areYouSure();
});    
    
    
function add_part() {
    var list = document.getElementById("parts_list");
    var part_id = list.options[list.selectedIndex].value;
    var qty = document.getElementById("part_qty_field").value
    document.location = "/assemblies/add_part?part_id=" + part_id + "&amp;assembly_id=<%= assembly.id %>&amp;qty="+qty
}    
    
function delete_part(assembly_part_id) {
    if (confirm("Are you sure")) {
        document.location = "/assemblies/delete_part?assembly_part_id=" + assembly_part_id
    }
}    
    
function deduct(qty, qty_fails) {
    n_max = <%= assembly.possible_makes %>
    if (qty > n_max) {
        alert("You only have parts for a maximum of " + n_max)
    }
    else {
        if (confirm("This will add " + (qty - qty_fails) + " assemblies to stock, and deduct parts for " + qty + " makings. Are you sure?")) {
            document.location = "/assemblies/deduct_stock?assembly_id=<%= assembly.id %>&amp;qty="+qty+"&amp;qty_fails="+qty_fails
        }
    }
        
}
</script>




<%= form_for(assembly) do |f| %>
  <% if assembly.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assembly.errors.count, "error") %> prohibited this assembly from being saved:</h2>

      <ul>
      <% assembly.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>



<table><tr>
    
<% if (not @assembly.active) %>
<h1 class="warning">WARNING INACTIVE ASSEMBLY</h1>
<% end %>

<td><table>
<tr><td>Name</td><td><%= f.text_field :name %></td></tr>
<tr><td>Assembly Category</td>
<td>  
  <%= f.collection_select(:assembly_category_id, AssemblyCategory.all, :id, :name) %>
</td>
</tr>

<tr>
<td>From Panel (for bagged PCBs)</td>
<td>  
  <%= f.collection_select(:parent_assembly_id, Assembly.panel_assemblies, :id, :name) %>
</td>
</tr>

<% if (@assembly.is_panel) %>
  <tr><td>Boards per panel</td><td><%= f.number_field :panel_num_boards %></td></tr>
<% end %>

<tr><td>Active</td><td><%= f.check_box :active %></td></tr>
<tr><td>Quantity <%=ass_type%></td><td><%= f.number_field :qty %></td></tr>
<tr><td>Stock warning level</td><td><%= f.number_field :stock_warning_level %></td></tr>
<tr><td>Notes</td><td><%= f.text_area :notes, size: '50x10' %></td></tr>

    
<tr><td>Labour (£)</td><td><%= f.text_field :labour %></td></tr>
</table>
  <div class="actions">
    <%= f.submit "Save" %>
  </div>
<% end %>
</td>

<td>
      <% if (@assembly.is_panel and @assembly.panel_num_boards) %>
        <p>The manufacturing cost of this whole Panel is £ <%= (assembly.production_cost * @assembly.panel_num_boards).round(2) %> 
        or <%= assembly.production_cost.round(2)%> per board.</p>
      <% else %>
        <p>The manufacturing cost of this assembly is £ <%= assembly.production_cost.round(2) %></p>
      <% end %>
        <p>You have enough parts to make: <%= assembly.possible_makes %> of this <%= ass_type %>.</p>
            <p>Deduct <input id="n" type="number"/> sets of the parts used in this assembly from stock.
            <% if (@assembly.is_panel) %> (number of panels times parts) <% end %>
            </p>
            <p>Failures in this batch <input id="n_fails" type="number"/>.</p>
            <input type="button" value="DO IT" onClick="javascript:deduct(document.getElementById('n').value, document.getElementById('n_fails').value)"/></p>
    </td>
</tr></table>
<hr/>


