<script>
    function hideInactive() {
        $('.inactive').hide();
        $('#hide_button').hide();
        $('#show_button').show();
    }
    
    function showInactive() {
        $('.inactive').show();
        $('#hide_button').show();
        $('#show_button').hide();
    }
    
    function stock_report() {
        window.open("/assemblies/stock_report.csv", '_blank')
    }
    
</script>

<p id="notice"><%= notice %></p>

<h1>Assemblies</h1>

<%= link_to 'New Assembly', new_assembly_path %>
<br/>
<a href="javascript:stock_report()">Stock Report</a>
<br/>


<a id="show_button" href="javascript:showInactive()">Show Inactive Assemblies</a>
<a id="hide_button" href="javascript:hideInactive()">Hide Inactive Assemblies</a>


<%
  categories = AssemblyCategory.all.order(priority: :asc)
  categories.each do | cat |
%>
    <table>
      <tr><td colspan="2"><h2><%= cat.name %></h2></td></tr>
      <tr>
          <th>Code</th>
          <th>Name</th>  
          <th>Qty in stock</th>
          <th>Production Cost</th>
          <th></th>
      </tr>
<%
    cat.assemblies.all.each do | assembly |
        style_class = ""
        if (assembly.qty <= assembly.stock_warning_level)
            style_class = "warning"
        end
        if (not assembly.active)
            style_class = "inactive"
        end
%>

      <tr class="<%=style_class%>">
        <td>ASS-<%=assembly.id%></td>
        <td><%= link_to assembly.name, edit_assembly_path(assembly) %></td>
        <td><%= assembly.qty %></td>
        <td><%= assembly.production_cost.round(2) %></td>
        <td><%= link_to 'Delete', assembly, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td><a href="#" target="popup" onclick="window.open('/assemblies/stock_label?id=<%=assembly.id%>','name','width=600,height=400')">Label</a></td>
      </tr>
    <% end %>
  </tbody>
</table>

<% end %>

<script>hideInactive()</script>