<!DOCTYPE html>
<html>
  <head>
    <title>MmServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
    
  <body>
      
    <% if (request.host == "localhost")%>
      <h1 class='priority1'>-----------------TEST SYSTEM------------------</h1>
    <%end%>
      
    <a class="menu" href="/">DASHBOARD</a> 
    <a class="<%= current_page?(controller: 'suppliers')?'menu_selected':'menu'%>" href="/suppliers">SUPPLIERS</a>  
    <a class="<%= current_page?(controller: 'order_ins')?'menu_selected':'menu'%>" href="/order_ins/list">PURCHASES</a>    
    <a class="<%= current_page?(controller: 'parts')?'menu_selected':'menu'%>" href="/parts">PARTS</a>  
    <a class="<%= current_page?(controller: 'assemblies')?'menu_selected':'menu'%>" href="/assemblies">ASSEMBLIES</a>
    <a class="<%= current_page?(controller: 'products')?'menu_selected':'menu'%>" href="/products">PRODUCTS</a>  
    <a class="<%= current_page?(controller: 'retailers')?'menu_selected':'menu'%>" href="/retailers">RETAILERS</a>
    <a class="<%= current_page?(controller: 'shipments')?'menu_selected':'menu'%>" href="/shipments">SHIPMENTS</a>
    <a class="<%= current_page?(controller: 'adjustments')?'menu_selected':'menu'%>" href="/adjustments">ADJUSTMENTS</a>
    <a class="<%= current_page?(controller: 'accounts')?'menu_selected':'menu'%>" href="/accounts/vat">VAT</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="menu" href="/welcome/financial">REPORTS</a> 
    <a class="<%= current_page?(controller: 'transactions')?'menu_selected':'menu'%>" href="/transactions">TRANSACTIONS</a>  
    <a class="menu" href="/prospects">CRM</a>   
    <hr/>
      
    <%= yield %>
  </body>


  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Navbar</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Features</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Dropdown link
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </li>
    </ul>
  </div>
</nav>


</html>
