<!DOCTYPE html>
<html>
  <head>
    <title>MmServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  
    
  <body>
      
    <% if (request.host == "localhost")%>
      <h1 class='priority1'>-----------------TEST SYSTEM------------------</h1>
    <%end%>
      
    <a class="menu" href="/">DASHBOARD</a> 
    <a class="<%= current_page?(controller: 'suppliers')?'menu_selected':'menu'%>" href="/suppliers">SUPPLIERS</a>  
    <a class="<%= current_page?(controller: 'order_ins')?'menu_selected':'menu'%>" href="/order_ins">ORDER IN</a>    
    <a class="<%= current_page?(controller: 'parts')?'menu_selected':'menu'%>" href="/parts">PARTS</a>  
    <a class="<%= current_page?(controller: 'assemblies')?'menu_selected':'menu'%>" href="/assemblies">ASSEMBLIES</a>
    <a class="<%= current_page?(controller: 'products')?'menu_selected':'menu'%>" href="/products">PRODUCTS</a>  
    <a class="<%= current_page?(controller: 'retailers')?'menu_selected':'menu'%>" href="/retailers">RETAILERS</a>
    <a class="<%= current_page?(controller: 'shipments')?'menu_selected':'menu'%>" href="/shipments">SHIPMENTS</a>
    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a class="menu" href="/sales_uk">SALES UK</a> 
    <a class="menu" href="/sales_us">SALES USA</a> 
    <a class="<%= current_page?(controller: 'transactions')?'menu_selected':'menu'%>" href="/transactions">TRANSACTIONS</a>  
    <a class="menu" href="/prospects">CRM</a> 
      
    <hr/>
      
    <%= yield %>
  </body>
</html>
